* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    margin: 0;
}

textarea {
    height: 1rem;
    width: 100%;
    resize: none;
    height: auto;
    field-sizing: content;
}

.character-sheet {
    display: flex;
    flex-wrap: wrap;
}

.description-container {
    width: 20vw;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    border: 3px red solid;
}

.description-container > div > textarea {
    font-size: 1.1rem;
}

.condition-container {
    width: 20vw;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    border: 3px red solid;
}

.equipment-container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    border: 3px red solid;
}

.equipment-container > .equipment {
    width: 50%;
    height: 50%;
}

.equipment > textarea  {
    width: 20%;
}
.equipment > .negativeAttribute {
    display: flex;
}

.miscitems-container {
    width: 20vw;
    border: 3px red solid;
}

.keepsake-container {
    width: 17vw;
    border: 3px red solid;
}

.characteristics-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 40vw;

    text-align: center;
    line-height: 4vh;
    gap: 15px;
    border: 3px red solid;
}

.characteristics-container > .stat { 
    border: 1px black solid;
    border-radius: 50%;
    background-color: rgb(253, 91, 140);

    box-sizing: border-box;
    height: 5vw;
    width: 5vw;
    min-height: 50px;
    min-width: 50px;
}

/*@media less than 600px*/

.characteristics-container > .stat > textarea {
    background: none;
    border: none;
    width: 100%;
    padding: 0;

    font-size: 1.4rem; 
    text-align: center;
}

.characteristics-container > .stat > textarea:focus {
    outline: none;
}

.weapons-container {
    width: 58vw;
    border: 3px red solid;
}
.weapons-table{
    width: 100%;
    border-spacing: 0;
}

.weapons-table > tbody > tr > th {
    border: 1px black solid;
}
.weapons-table > tbody > tr > td > input{
    border: none;
    width: 100%;
    padding: 0;
}

.weapons-table > tbody > tr > td{
    border: 1px black solid;
    width: 100%;
    padding: 0;
}

.skill-container{
    border: 3px red solid;
    display: flex;
    width: 40vw;
}

.skill-container > textarea {
    width: 2rem;
}


.divider{
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    text-align: center;
    gap: 15px;
}

.Skadebonus {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.container {
    display: flex;
    height: 40vh;
}

.ability-container {
    background-color: gray;
    width: 15vw;  
}

.ability-container > #abilities {
    width: 100%;
}

#abilities > button {
    display: flex;
    position: relative;
    right: 0;
}

#abilities > textarea {
    background: aquamarine;
    border: none;
    width: 90%;
}

.money-container {
    background-color: red;
    width: 15vw;  
}

.money-container > div > textarea {
    text-align: center;
    background-color: aquamarine;
    border: none;
    width: 20%;
}

